body {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.page-title {
    text-align: center;
    font-size: 2rem;
}

.search {
    display: flex;
    justify-content: center;
    padding: 0 1rem 1rem;

    & input {
        width: 100%;
        max-width: 400px;
        padding: .5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;

    }
}


.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    list-style: none;
    gap: 20px;
    padding: 0 20px;

    
    @media (min-width: 480px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


.card a {
    text-decoration: none;
    color: black;
    display: block;
}

.card {
    border-radius: var(--border-pokemoncard);
    padding: .5rem;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    padding: 0 .25rem;
    gap: .5rem;
}

.card-name {
    margin: 0;
    font-size: 1.25rem;
    text-transform: capitalize;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;

}

.hp {
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}

.card-window {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  aspect-ratio: 1;            /* venster is altijd vierkant */
  overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}






.type-grass { 
    background-color: var(--type-grass);
}

.type-fire {
    background-color: var(--type-fire);
}

.type-water {
    background-color: var(--type-water);
}

.type-electric {
    background-color: var(--type-electric);
}

.type-normal {
    background-color: var(--type-normal);
}

.type-ice {
    background-color: var(--type-ice);
}

.type-fighting {
    background-color: var(--type-fighting);
}

.type-poison {
    background-color: var(--type-poison);
}

.type-ground {
    background-color: var(--type-ground);
}

.type-flying {
    background-color: var(--type-flying);
}

.type-psychic {
    background-color: var(--type-psychic);
}

.type-bug {
    background-color: var(--type-bug);
}

.type-rock {
    background-color: var(--type-rock);
}

.type-ghost {
    background-color: var(--type-ghost);
}

.type-dragon {
    background-color: var(--type-dragon);
}

.type-dark {
    background-color: var(--type-dark);
}

.type-steel {
    background-color: var(--type-steel);
}

.type-fairy {
    background-color: var(--type-fairy);
}