@font-face {
    font-family: 'Pokemon';
    src: url('/assets/fonts/pokemon-classic.ttf') format('woff2');
    font-display: swap;
}

:root {
    /* Type colours */

    --type-grass:    #7AC74C;
    --type-fire:     #EE8130;
    --type-water:    #6390F0;
    --type-electric: #F7D02C;
    --type-normal:   #A8A77A;
    --type-ice:      #96D9D6;
    --type-fighting: #C22E28;
    --type-poison:   #A33EA1;
    --type-ground:   #E2BF65;
    --type-flying:   #A98FF3;
    --type-psychic:  #F95587;
    --type-bug:      #A6B91A;
    --type-rock:     #B6A136;
    --type-ghost:    #735797;
    --type-dragon:   #6F35FC;
    --type-dark:     #705746;
    --type-steel:    #B7B7CE;
    --type-fairy:    #D685AD;



    /* borders */

    --border-pokemoncard:     8px;
}