@font-face {
    font-family: 'Pokemon';
    src: url('/assets/fonts/pokemon-classic.ttf') format('woff2');
    font-display: swap;
}

:root {

    /* Light mode */
    /* Type colours */

    --type-grass:    #7AC74C;
    --type-fire:     #EE8130;
    --type-water:    #6390F0;
    --type-electric: #F7D02C;
    --type-normal:   #A8A77A;
    --type-ice:      #96D9D6;
    --type-fighting: #C22E28;
    --type-poison:   #A33EA1;
    --type-ground:   #E2BF65;
    --type-flying:   #A98FF3;
    --type-psychic:  #F95587;
    --type-bug:      #A6B91A;
    --type-rock:     #B6A136;
    --type-ghost:    #735797;
    --type-dragon:   #6F35FC;
    --type-dark:     #705746;
    --type-steel:    #B7B7CE;
    --type-fairy:    #D685AD;


    /* Base Colours */
    --pokemon-red: #FF0000;
    --pokemon-blue: #3c5aa6;
    --pokemon-light-blue: #3B4CCA;
    --pokemon-yellow: #ffcb05;
    --pokemon-yellow-shadow: #c7a008;

    
    /* borders */
    --border-pokemoncard:     8px;


    /* Light mode */
    --color-background: #ffffff;
    --color-text: #000000;
    --color-surface:    rgba(255, 255, 255, 0.6);
    --color-window:     rgba(255, 255, 255, 0.5);
    --color-track:      rgba(0, 0, 0, 0.1);
    --color-border:     rgba(0, 0, 0, 0.3);
}

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
       :root:not([data-theme="light"]) {
        --color-background: #000000;
        --color-text: #ffffff;
        --color-surface:    rgba(0, 0, 0, 0.35);
        --color-window:     rgba(0, 0, 0, 0.3);
        --color-bar:      rgba(255, 255, 255, 0.15);
        --color-border:     rgba(255, 255, 255, 0.2);
        }
    }

    :root[data-theme="dark"] {
        --color-background: #000000;
        --color-text: #ffffff;
        --color-surface:    rgba(0, 0, 0, 0.35);
        --color-window:     rgba(0, 0, 0, 0.3);
        --color-bar:      rgba(255, 255, 255, 0.15);
        --color-border:     rgba(255, 255, 255, 0.2);
        }


    :root[data-theme="light"] {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-surface:    rgba(0, 0, 0, 0.6);
    --color-window:     rgba(0, 0, 0, 0.5);
    --color-bar:      rgba(255, 255, 255, 0.1);
    --color-border:     rgba(255, 255, 255, 0.3);
}


/* toggle knop alleen laten zien als JS werkt */
.theme-toggle { 
    display: none;
    color: var(--color-text);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 3rem;

}
.js .theme-toggle { 
    display: inline-block;
}
